# S3 configuration
BUCKET_NAME=replace-me-bucket-name
R2_ACCOUNT_ID=replace-me-r2-account-id
R2_ACCESS_KEY_ID=replace-me-r2-account-id
R2_SECRET_ACCESS_KEY=replace-me-r2-account-id

# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=change-me-change-me-change-me-1234
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:3000 # This should be a comma-separated list of origins that are allowed to access the Better Auth API. For example: http://localhost:3000,http://localhost:4000

# Google OAuth configuration
GOOGLE_CLIENT_ID=replace-me.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=replace-me-google-client-secret

# Public API configuration
PUBLIC_API_TITLE=Web CMS Public API
PUBLIC_API_VERSION=0.1.0
PUBLIC_API_DESCRIPTION=Public API foundation for the web CMS
